---
import Container from '@components/Container.astro'
import Layout from '@layouts/Layout.astro'
import TeamsSelector from '@components/TeamsSelector.astro'
import { getAllTeams } from '@services/teams.js'
import { getPlayersForTeam } from '@services/players.js'
import TeamStadistics from '@components/TeamStadistics.astro'
const { id, name, logo, color1 } = Astro.props
const players = await getPlayersForTeam(id)
// const playerSupport = await players.filter((player) => player.role === 'Support')
// const playerAdc = await players.filter((player) => player.role === 'Bot')
// const playerMid = players.filter((player) => player.role === 'Mid')
// const playerTop = players.filter((player) => player.role === 'Top')
// const playerJungler = players.filter((player) => player.role === 'Jungler')
const coaches = players.filter((player) => player.role === 'Coach')
const coach = coaches[0]
export async function getStaticPaths() {
	const teams = await getAllTeams()
	if (teams) {
		return teams.map((team) => ({
			params: { teamId: team.id },
			props: { ...team }
		}))
	}
}
const gradient = `bg-${id}`
---

<Layout title={name}>
	<section class='bg-principal py-32 sm:px-2'>
		<Container>
			<div
				class={`relative py-10 px-2 md:px-20 md:py-10 shadow-xl sm:rounded -mt-10 z-10 mb-40 ${gradient}`}
			>
				<section class='relative flex flex-col xl:flex-row items-center justify-between pb-10'>
					<div class='flex flex-col'>
						<div class='flex flex-col xl:flex-row items-center gap-x-6 mb-2 -mt-24'>
							<img
								class='w-72 h-72 object-contain aspect-square'
								src={logo}
								alt={`Escudo del equipo ${name}`}
								decoding='async'
								fetchpriority='high'
							/>
							<div class='flex flex-col justify-end text-center gap-y-4'>
								<h1 class='font-title font-bold text-4xl md:text-6xl text-white'>{name}</h1>
								<ul class='flex flex-row gap-x-4 justify-center xl:justify-start'></ul>
							</div>
						</div>

						<TeamStadistics teamId={id} />
					</div>

					{
						coach && (
							<div class='flex items-center'>
								<div class='xl:absolute xl:bottom-10 xl:right-[200px] text-center flex items-center flex-col'>
									<img
										class='w-[200px] h-auto aspect-[400/562]'
										src={'/champions/coach/coach.svg'}
										alt={coach.name}
										decoding='async'
										fetchpriority='high'
									/>

									<div class='bg-gradient-to-tr from-[#ffffff] via-[#ffffff] to-[#cd55002a] shadow-xl rounded-xl p-2'>
										<h3 class='text-black font-black text-2xl'>
											{coach.name} "{coach.nickname}"
										</h3>
										<h4 class='font-body uppercase rounded-full text-nexo font-semibold'>
											Entrenador
										</h4>
									</div>
								</div>
							</div>
						)
					}
				</section>

				<!-- <TeamPagePlayers
					players={[...playerEleven, ...goalkeepers, ...defenses, ...medium, ...forward]}
				/> -->

				<div
					class={'-z-10 absolute inset-0 opacity-5 bg-center bg-[size:250%] transition bg-inherit'}
					style={`background-image:url('${logo}')`}
				>
				</div>
			</div>
		</Container>

		<Container>
			<div
				class='overflow-hidden bg-white p-20 pt-5 shadow-xl rounded -mt-10 z-10 mb-40'
				style={`--tw-gradient-from: ${color1}`}
			>
				<h2 class='font-black text-5xl text-black text-center py-10'>Todos los equipos</h2>
				<TeamsSelector />
			</div>
		</Container>
	</section>
</Layout>
