---
import BestPlayerCard from '@components/BestPlayerCard.astro'
import Container from '@components/Container.astro'
import LeaderBoardTable from '@components/LeaderBoardTable.astro'
import NextMatchTable from '@components/NextMatchTable.astro'
import Layout from '@layouts/Layout.astro'
import { getBestKDAPlayer, getBestAssistsPlayer, getBestKillsPlayer } from '@services/players.js'
import { getClosestMatch } from '@services/matches.js'
const kdaPlayer = await getBestKDAPlayer()
const killsPlayer = await getBestKillsPlayer()
const assistsPlayer = await getBestAssistsPlayer()
const closestMatch = await getClosestMatch()
---

<Layout title='Liga Nexo - Web Fan'>
	<main class='bg-violet-300'>
		<Container>
			<div class='grid grid-cols-1 lg:grid-cols-1 gap-10 w-full px-4 md:px-8'>
				<div class='col-span-1 xl:col-span-1 flex flex-col gap-y-10 my-5 justify-end'>
					<NextMatchTable />
				</div>
			</div>
			<div class='grid grid-cols-7 lg:grid-cols-7 gap-10 w-full px-4 md:px-8'>
				<div class='col-span-4 lg:col-span-4 xl:col-span-4 my-[20px] lg:mt-0'>
					<LeaderBoardTable />
				</div>
				<div class='col-span-3 lg:col-span-3 xl:col-span-3 my-[20px] lg:mt-0'>
					<BestPlayerCard
						smallerBox
						teamName={kdaPlayer.team.name}
						teamImage={kdaPlayer.team.logo}
						playerName={kdaPlayer.nickname}
						teamColor1={kdaPlayer.team.color1}
						teamColor2={kdaPlayer.team.color2}
						playerImage={`champions/${kdaPlayer.championPlayed}.png`}
						title={kdaPlayer.kda}
						subtitle='MEJOR KDA LIGA NEXO'
					/>
					<BestPlayerCard
						smallerBox
						teamName={killsPlayer.team.name}
						teamImage={killsPlayer.team.logo}
						playerName={killsPlayer.nickname}
						teamColor1={killsPlayer.team.color1}
						teamColor2={killsPlayer.team.color2}
						playerImage={`champions/${killsPlayer.championPlayed}.png`}
						title={killsPlayer.kills}
						subtitle='MAYOR ASESINO LIGA NEXO'
					/>
					<BestPlayerCard
						smallerBox
						teamName={assistsPlayer.team.name}
						teamImage={assistsPlayer.team.logo}
						playerName={assistsPlayer.nickname}
						teamColor1={assistsPlayer.team.color1}
						teamColor2={assistsPlayer.team.color2}
						playerImage={`champions/${assistsPlayer.championPlayed}.png`}
						title={assistsPlayer.assists}
						subtitle='MEJOR ASISTENTE LIGA NEXO'
					/>
				</div>
			</div>
		</Container>
	</main>
</Layout>
