---
import Logo from './Logo.astro'

const response = await fetch('https://liga-nexo-api.liga-nexo.workers.dev/teams')
const teams = await response.json()
---

<header
	class='flex item-center w-full bg-gradient-to-b from-[#7541e4] to-[#a78fdb] py-3 px-4 gap-x-8'
>
	<div class='flex md:flex-col h-full md:gap-4 w-full justify-between'>
		<nav class='w-min md:w-auto'>
			<div class='mx-8'>
				<Logo />
			</div>
			<div class='m-auto w-fit rounded-full md:bg-white p-1'>
				<div
					class='md:w-[724px] lg:w-[884px] md:rounded-full md:m-auto md:bg-white md:border-[#7541e4] md:border-2 md:p-2 px-0'
				>
					<ul
						class='flex items-center justify-center rounded-x md:gap-x-4 [&>li>a:hover]:scale-125 [&>li>a:hover]:contrast-125 w-full'
					>
						{
							teams.map(({ id, logo, name }, index) => (
								<>
									<li class='mx-2'>
										<a
											class='group transition hidden md:block'
											href={`/team/${id}`}
											title={name}
											rel={Astro.url.pathname !== `/team/${id}` && 'preload'}
										>
											<img
												class='h-9 w-9 lg:h-12 lg:w-12 aspect-square'
												src={logo}
												alt={`Escudo del equipo ${name}`}
												width='48'
												height='48'
												decoding='async'
												fetchpriority='high'
											/>
										</a>
									</li>
								</>
							))
						}
					</ul>
				</div>
			</div>
		</nav>
		<nav class='my-5 font-black'>
			<ul class='flex gap-x-4'>
				<li>
					<a href='/equipos'>Equipos</a>
				</li>
				<li>
					<a href='/calendario'>Calendario</a>
				</li>
				<li>
					<a href='/estadisticas'>Estadisticas</a>
				</li>
				<li>
					<a href='/contacto'>Contacto</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
