---
const { name, played_matches, points, rank, result } = Astro.props
const scoreStyles = {
	shared:
		'text-center whitespace-nowrap font-title rounded-md p-2 px-4 md:px-5 text-sm lg:text-xl leading-none text-center',
	played: 'text-white bg-gray-700',
	pending: 'bg-gray-200 transition group-hover:bg-gray-200'
}
const state = 'pending'
---

<tr
	class='odd:bg-white even:bg-slate-100 flex justify-between group border-y [&>td]:py-2 transition hover:bg-gray-100'
>
	<td class='border-b-1 text-center flex justify-center w-full items-center font-black text-2xl'>
		<span class={`${scoreStyles.shared} ${scoreStyles[state]}`}>{rank}</span>
	</td>
	<td class='lg:px-2 py-4 border-b-1 flex flex-col md:flex-row justify-end items-center w-full'>
		<a class='flex justify-start items-center' title={name} href={`/team/${name}`}>
			{
				(
					<span class='font-black text-xl' title={name}>
						{name}
					</span>
				)
			}
			<img
				class='w-16 h-16 lg:w-20 lg:h-20 xl:w-28 xl:h-28 mx-2'
				src={'https://liga-nexo-api.liga-nexo.workers.dev/static/logos/magna.svg'}
				alt={`Escudo del equipo ${name}`}
			/>
		</a>
	</td>

	<td class='border-b-1 text-center flex justify-center w-full items-center font-black text-2xl'>
		<span class={`${scoreStyles.shared} ${scoreStyles[state]}`}>{played_matches}</span>
	</td>

	<td class='border-b-1 text-center flex justify-center w-full items-center font-black text-2xl'>
		<span class={`${scoreStyles.shared} ${scoreStyles[state]}`}>{points}</span>
	</td>

	<td class='border-b-1 text-center flex justify-center w-full items-center font-black text-2xl'>
		<span class={`${scoreStyles.shared} ${scoreStyles[state]}`}>{result}</span>
	</td>
</tr>
