---
import LeaderBoardRow from './LeaderBoardRow.astro'

const response = await fetch('https://liga-nexo-api.liga-nexo.workers.dev/leaderboard')
const leaderboard = await response.json()
---

<div class='relative overflow-x-auto shadow-md sm:rounded-lg'>
	<table class='w-full text-xs text-left text-black'>
		<thead class='font-black text-white uppercase bg-[#7541e4]'>
			<tr>
				<th
					scope='col'
					colspan='6'
					class='w-full px-6 py-3 text-center flex flex-col sm:flex-row items-center justify-between'
				>
					<div>
						<svg class='w-36' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 743.2 277.83'
							><defs
								><style>
									.cls-1 {
										fill: white;
									}
								</style></defs
							><g id='Capa_2' data-name='Capa 2'
								><g id='Layer_1' data-name='Layer 1'
									><path d='m33.39 108.27 8.81 8.81v133.53L0 208.47l33.39-100.2z' class='cls-1'
									></path><path
										d='M38 94.38 69.45 0v277.83l-14.16-14.14V111.66L38 94.38zM113.99 94.38l-17.28 17.28v152.03l-14.17 14.14V0l31.45 94.38z'
										class='cls-1'></path><path
										d='m151.99 208.47-42.2 42.14V117.08l8.82-8.81 33.38 100.2zM288 107.37v50.37l-41.22-50.37H230.9v9.3l60.32 73.66H307v-83Zm-57.1 31.31v51.65h18.95v-28.5ZM402.6 174.92v-19.19h38.53V140.8h-57.6v49.53h64.23v-15.41Zm-19.07-67.55v15.41h62.68v-15.41ZM533 107.37h-21.83l29.14 40.77-30.69 42.19h22l19.69-28.79 20 28.79h22.18Zm37.79 0-10 14.37 10.25 14 20.48-28.37ZM737.28 126.86A41.93 41.93 0 0 0 721 111.52a45.46 45.46 0 0 0-13.51-4.72V124a23.9 23.9 0 0 1 3.56 1.65 24.43 24.43 0 0 1 9.31 9.42 29.81 29.81 0 0 1 0 27.5 24.36 24.36 0 0 1-9.31 9.42 22.94 22.94 0 0 1-3.56 1.65v17.24a45.48 45.48 0 0 0 13.51-4.7 42.92 42.92 0 0 0 16.24-59.32Zm-52.74-1.18a24.37 24.37 0 0 1 3.56-1.68v-17.2a46 46 0 0 0-13.58 4.72 41.42 41.42 0 0 0-16.23 15.34 44.19 44.19 0 0 0 0 44 41.42 41.42 0 0 0 16.23 15.34 45.73 45.73 0 0 0 13.58 4.73v-17.26a23.37 23.37 0 0 1-3.56-1.65 24 24 0 0 1-9.29-9.42 29.58 29.58 0 0 1 0-27.5 24.11 24.11 0 0 1 9.29-9.42Z'
										class='cls-1'></path></g
								></g
							></svg
						>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			{
				leaderboard.map(({ name, played_matches, points, rank, results, logo }, index) => (
					<>
						<LeaderBoardRow
							name={name}
							played_matches={played_matches}
							points={points}
							rank={rank}
							result={results}
							logo={logo}
						/>
					</>
				))
			}
		</tbody>
	</table>
</div>
